{% extends 'base.html.twig' %}

{% block content %}



    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ tache.intitule }}</td>
            </tr>
            <tr>
                <th>Fait</th>
                <td>{% if tache.fait %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if tache.date %}{{ tache.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ tache.tag }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tache_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
