<div class="header-profile">
    <div class="banner-profil">
        <img class="banner-background" src="../{{ asset('images/user-profile-bg.jpg') }}" alt="">
        <div class="col s2">
            <img src="{{ asset('images/yuna.jpg') }}" alt="" class="circle responsive-img profil-picture"> <!-- notice the "circle" class -->
        </div>
    </div>
</div>

<section class="user-info">
    <h5><strong>{{ contact.nom }}</strong> {{ contact.prenom }}</h5>
    <p>Mail : <a href="">{{ contact.email }}</a></p>
    <p>Tel : <strong>{{ contact.tel }}</strong></p>

</section>

<!-- Modal Trigger -->
<a onclick="confirmDelete()" class="modal-trigger waves-effect waves-light btn" href="#modal2">Delete</a>

<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content red lighten-1">
        <p class="text-white">Etes Vous sur de vouloir supprimer ce contact ?</p>
    </div>
    <div class="modal-footer red lighten-3">
        <a href="#!" class="text-white modal-action modal-close waves-effect waves-green btn-flat ">
            ANNULER
        </a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">
            {{ form_start(delete_form) }}
            <input class="text-white" type="submit" value="SUPPRIMER">
            {{ form_end(delete_form) }}
        </a>

    </div>
</div>
